<!DOCTYPE html>
<html>
  <head>
    <title>DragonCaveClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <%= render partial: "layouts/header" %>
          <%= yield %>
          <%= render partial: "layouts/footer" %>
        </div>
      </div>
    </div>

  </body>
</html>
